/*  your css code here. If applicable */

body{
	background-color:rgb(204,204,204);
}
.heading{
	text-align:center;
	
}
a{
	text-decoration-line:none;
}
li{
	list-style-type:none;
}
.list{
	background-color:white;
	padding:5px;
	border-radius:10px;
	border:1px solid black;
}
.player_one{
	background-color:rgb(255,255,255);
	padding:40px;
	border-radius:20px;
	width:80vw;
	
}
.player_two{
	background-color:rgb(255,255,255);
	padding:20px;
	border-radius:20px;
	width:90%;
}

